body {
    margin: 0;
    overflow: hidden;
}

h1 {
    color: green;
}


#background-img {
    position: absolute;
    width: 100%;
}


#viewport {
    position: absolute;
    width: 50%;
    height: 300px;
    border: 1px solid black;
    box-sizing: border-box;
    background: linear-gradient(#e66465, #9198e5);
    left: 25%;
    bottom: 25%;
}
.green-dot {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: green;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
